body{
    margin: auto 0px;
}
.nav{
    width: 100%;
    background-color: darkblue;
    margin: auto 0px;
}
h1{
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: auto 0px;
}
h3{
    color: white;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: auto 0px;
}
h2{
    font-family: monospace;
}
.formulario{
    border: solid 3px black;
    border-top: unset;
    border-left: unset;
    border-bottom-right-radius: 10px;
    text-align: center;
    float: left;
    width: 45%;
    padding: 10px;
    height: 600px;
}
.informacion{
    border: solid 3px black;
    border-top: unset;
    border-right: unset;
    border-bottom-left-radius: 10px;
    float: right;
    width: 45%;
    padding: 10px;
    height: 600px;
}
.informacion h2{
    text-align: center;
}
button{
    background-color: rgb(151, 1, 1);
    border: 2px solid black;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(245, 53, 53);
}